@page "/reset-password/{code}"
@inject ISnackbar Snackbar
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject CookieManagement CookieManager
<style>
    .mud-main-content {
        padding: inherit !important;
    }

    .mud-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>
<PageTitle>Reset Password</PageTitle>
<MudPaper Height="400px" Width="100%">
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Height="400px" Width="100%" Style="background-color:#212121" Square="true">
            <div class="col-lg-8 offset-lg-4 col-sm-12 col-md-8 offset-md-4" style="padding:4rem;">
                <MudPaper Height="700px" Width="50%">
                    <MudCard Style="height:100%">
                        <MudCardContent>
                            <div class="text-center">
                                <MudItem>
                                    <MudImage Src="Images/logo.png" Alt="Slica Logo" Height="200" Width="250" Class="rounded-lg" />

                                </MudItem>

                            </div>
                            <div class="text-center">
                                <MudText Typo="Typo.h6">New Password</MudText>
                            </div>
                            <div class="text-center">
                                <MudItem>
                                    <MudText Typo="Typo.caption">
                                        Please enter a new password for your account                                       
                                    </MudText>
                                </MudItem>
                            </div>

                            <EditForm Model="resetUser">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-12">
                                        <MudItem Class="pa-4">
                                            <MudTextField Class="black-border" Disabled="true" For="@(() => resetUser.Email)"  @bind-Value="resetUser.Email" Label="Email" InputType="InputType.Email" />
                                        </MudItem>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <MudItem Class="pa-4">
                                            <MudTextField Class="black-border" For="@(() => resetUser.Password)" @bind-Value="@resetUser.Password" Label="New Password" InputType="InputType.Password" />
                                        </MudItem>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <MudItem Class="pa-4">
                                            <MudTextField Class="black-border" For="@(() => resetUser.ConfirmPassword)" @bind-Value="@resetUser.ConfirmPassword" Label="Confirm Password" InputType="InputType.Password" />
                                        </MudItem>
                                    </div>

                                </div>
                             

                                <div class="row">
                                    <div class="col-8 offset-2">

                                        <MudItem Class="pa-4">
                                            <MudButton FullWidth="true" ButtonType="ButtonType.Submit" OnClick="OnResetFormSubmit" Variant="Variant.Filled" Color="Color.Dark">Reset</MudButton>

                                        </MudItem>
                                    </div>
                                </div>


                            </EditForm>
                        </MudCardContent>

                    </MudCard>
                </MudPaper>
            </div>

        </MudPaper>
    </MudContainer>


</MudPaper>
