@page "/meeting-log"
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject CookieManagement CookieManager
@inject NavigationManager NavigationManager
<PageTitle>Meeting Log</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudItem>
        <div class="row">
            <div class="col-12">
                <MudItem>
                    <div class="row">
                        <div class="col-6">
                            <MudText Class="pa-2" Typo="Typo.h6">Meeting Log</MudText>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-2">
                            <MudSpacer />
                            <MudItem Style="display:flex;" Class="pa-2">
                                <MudNavLink Class="pl-lg-4 pl-md-4" Icon="@Icons.Material.Filled.Hub" Href="/meeting-hub">Meeting Hub</MudNavLink>
                            </MudItem>
                        </div>
                    </div>
                </MudItem>
            </div>
            <MudDivider />

        </div>
    </MudItem>
    <MudItem>
        <MudText Class="pa-2 pt-6" Typo="Typo.h6">
            Welcome to the Meeting Log
        </MudText>
        <MudText Class="pa-2" Typo="Typo.body1">
            Here, you can view a log of all your previous and ongoing meetings, as well as detailed logs of meetings you have hosted. Access your meeting history with ease.


        </MudText>
    </MudItem>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">

            <MudItem Class="pa-2 pt-2">
                <MudSelect T="int"    SelectedValuesChanged="OnValueChanged"  Label="Type"  @bind-Value="_filterType" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@(1)">All</MudSelectItem>
                    <MudSelectItem Value="@(2)">Hosted</MudSelectItem>

                </MudSelect>
            </MudItem>
        </div>
       
    </div>

    <MudItem Class="mt-2" xs="12" sm="10" md="10">

        <MudDataGrid Items="@meetingDetails" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter"
                     Hideable="false">
            <NoRecordsContent>
                <MudText Typo="Typo.caption"> No Meetings Log.</MudText>
            </NoRecordsContent>
            <ToolBarContent>
                <MudText Typo="Typo.h6">Meeting Logs</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.SNo" Title="SNo" />
                <PropertyColumn Property="x => x.Code" />
                <PropertyColumn Property="x => x.Title" />
                <PropertyColumn Property="x => x.Host" />
                <PropertyColumn Property="x => x.Participant" Title="Participant(s)" />
                <PropertyColumn Format="dd-MMM-yyyy" Property="x => x.Date" />
                <PropertyColumn Format="hh:mm tt" Property="x => x.StartTime" />
                <PropertyColumn Format="hh:mm tt" Property="x => x.EndTime" />
                <PropertyColumn Property="x => x.Duration" />
                <PropertyColumn Property="x => x.Status" />
                <TemplateColumn Title="Action" CellClass="d-flex justify-start">
                    <CellTemplate>
                        <MudStack>
                            <div hidden="@(!context.Item.IsHost)"
                            <MudNavLink  OnClick="@(()=>OnDetailsClick(@context.Item.Id))" Icon="@Icons.Material.Filled.RemoveRedEye">Details</MudNavLink>
                            </div>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="MeetingModel" />
            </PagerContent>
        </MudDataGrid>

    </MudItem>


</MudContainer>



