@page "/meeting-hub"
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject CookieManagement CookieManager
@inject NavigationManager NavigationManager
<PageTitle>Meeting Hub</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudItem>
        <div class="row">
            <div class="col-12">
                <MudItem>
                    <div class="row">
                        <div class="col-6">
                            <MudText Class="pa-2" Typo="Typo.h6">Meeting Hub</MudText>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-2">
                            <MudSpacer />
                            <MudItem Style="display:flex;" Class="pa-2">
                                <MudNavLink Class="pl-lg-4 pl-md-4" Icon="@Icons.Material.Filled.VideoCall" OnClick="OpenCreateMeetingDialog">Create Meeting</MudNavLink>
                            </MudItem>
                        </div>
                    </div>
                </MudItem>
            </div>
            <MudDivider />

        </div>
    </MudItem>
    <MudItem>
        <MudText Class="pa-2 pt-6" Typo="Typo.h6">
            Welcome to the Meeting Hub
        </MudText>
        <MudText Class="pa-2" Typo="Typo.body1">
            Here, you can view your upcoming meetings, join ongoing meetings, and create new meetings. Stay connected and collaborate seamlessly with your team.

        </MudText>
    </MudItem>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">

    <MudItem Class="pa-3 pt-2">
                <MudText Typo="Typo.button">Want to Join a meeting?</MudText>
                <MudTextField @bind-Value="_meetingCode" Placeholder="Enter Code"  Class="mt-2"></MudTextField>
            </MudItem>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                    <MudItem Class="pa-2 pt-12">

        <MudNavLink Class="pl-2" Icon="@Icons.Material.Filled.Launch" Href="@("/meeting/"+_meetingCode)">Join Meeting</MudNavLink>
        </MudItem>
            </div>
    </div>

    <MudItem Class="mt-2" xs="12" sm="10" md="10">
        
        <MudDataGrid  RowStyleFunc="_rowStyleFunc" Items="@meetingDetails" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter"
                     Hideable="false"  >
                     <NoRecordsContent>
                <MudText Typo="Typo.caption"> No Upcoming Meetings.</MudText>
            </NoRecordsContent>
            <ToolBarContent>
                <MudText Typo="Typo.h6">Upcoming Meetings</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <TemplateColumn Title="" Filterable="false">
                    <CellTemplate>
                        <MudIconButton OnClick="@(()=>MarkAsPin(context.Item.Id))" Icon="@(context.Item.IsPin ? @Icons.Material.Filled.PushPin :  Icons.Material.Outlined.PushPin)" />
                        
                    </CellTemplate>
                    </TemplateColumn>
                <PropertyColumn Property="x => x.SNo" />

                <PropertyColumn Property="x => x.Code" />
                <PropertyColumn Property="x => x.Title" />
                <PropertyColumn Property="x => x.Host"/>
                <PropertyColumn Format="dd-MMM-yyyy HH:mm" Property="x => x.StartDateTime" />
                <PropertyColumn Property="x => x.Duration" />
                <PropertyColumn Property="x => x.Status"/>
                <TemplateColumn Title="Action" CellClass="d-flex justify-start">
                    <CellTemplate>
                        <MudStack>
                            <div hidden="@(!context.Item.IsHost)"
                            <MudNavLink  OnClick="@(()=>OnDetailsClick(@context.Item.Id))" Icon="@Icons.Material.Filled.RemoveRedEye">Details</MudNavLink>
                            </div>
                            <div hidden="@((!context.Item.IsHost || !context.Item.IsEdit))">
                            <MudNavLink OnClick="@(()=>EditMeeting(context.Item))" Icon="@Icons.Material.Filled.Edit">Edit</MudNavLink>
                            </div>
                            <MudNavLink Disabled="@(!context.Item.IsJoin)" Href="@("/meeting/"+context.Item.Code)"  Icon="@Icons.Material.Filled.Launch">Join</MudNavLink>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="MeetingModel" />
            </PagerContent>
        </MudDataGrid>

    </MudItem>
        
        
</MudContainer>
    


